# i3xrocks config file
# # The man page for i3blocks is hosted at http://vivien.github.io/i3blocks
#
# List of valid properties:
#
# align
# color
# command
# full_text
# instance
# interval
# label
# min_width
# name
# separator
# separator_block_width
# short_text
# signal
# urgent

# Global properties
#
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
command=/usr/share/i3xrocks/$BLOCK_NAME
separator_block_width=30
markup=pango
color=#d8dee9
label_color=#d8dee9

#[public-ip]
#command=wget -qO - whatismyip.level3.com
#interval=once

#[focused-window-name]
#interval=1
# filter_list=evince libreoffice
#short_length=10

#[weather]
#command=curl -Ss 'https://wttr.in?0&T&Q' | cut -c 16- | head -2 | xargs echo
#interval=3600

#[net-traffic]
#interval=repeat

#[cpu-usage]
#interval=2
#min_width=100%

[rofication]
command=rofication-status
interval=10

[volume]
interval=5

#[uptime]
#label=up 
#command=uptime -p | sed -e "s/up //g"
#interval=60

[time]
interval=10
